
body {
  text-align: center;
  color: lightblue;
}

.border{
  width: 100%;
  max-width: 900px;
  margin: 25px auto;
  padding: 8px 8px 25px;
  border: 10px solid rgb(0, 47, 88);

h1 {
  color:
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table, tr, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type=number] {
  width: 6em;
}